$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$black: rgb(0,0,0);
$alpha: .5;
$blackAlpha: rgba($black, $alpha);
$alpha2: .9;
$blackAlpha2: rgba($black, $alpha2);
$red: #FF4136;
