

.comments-wrapper {
  ul {
    .comment-div-container {
      li {
        display: flex;
        padding: 20px;

        img {
          width: 33px;
          height: 33px;
          border-radius: 50%;
        }
        p {
          font-size: 14px;

          .user-name-comment {
            font-weight: 700;
            color: $blue;
          }
        }

      }
    }
  }
}
