.fa-cloude {
  cursor: pointer;
}
.upload-photo-form {

  button {
    position: absolute;
    right: 13px;
    top: 5px;
    color: white;
    z-index: 6;
  }

  h2 {
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 4;
  }

  form {

    ul {
      margin-top: 40px;
      li {
        textarea {
          margin: 10px;
          border: 1px solid $light-gray;
          border-radius: 2px;
          flex: 2;

        }
        .dropzone-mini-pic {
          width: 50px;
          height: 50px;
          margin-top: 10px;
        }

        p {
          text-align: center;
          margin-top: 30%;
          font-weight: 700;
        }

        .image-dropzone {
          position: absolute;
          width: 200px;
          height: 200px;
          opacity: 0.2;
          z-index: -1;
        }
      }
    }

    input[type="submit"] {
      margin-top: 20px;
      color: white;
      background-color: black;
      width: 25%;
      text-align: center;
      font-size: 15px;
    }

    input[type="submit"]:hover {
      color: white;
      background-color: #383838;
    }
  }
}

.upload-photo-close-modal {
  z-index: 5;
}

.photo-album-upload {
  width: 600px;
}
