body, html{
  font-family: $Nunito;
  height: 100%;
}

#root {
  height: 100%;
  .div-routes {
    height: 100%;

    .homePage-background-image {
      background-image: url(http://res.cloudinary.com/dhyya9rw1/image/upload/v1522873327/tree-3097419_1280.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      height: 100%;
    }
  }
}


.lange-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    color: white;
    text-shadow: 2px 2px $black;
  }

  small {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px $black;
  }

  button {
    background-color: $lightest-gray;
    border-radius: 3px;
    border: solid 1px $light-gray;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    box-shadow: 2px 2px $blackAlpha;

  }

  button:hover {
    color: $gray;
  }
}

.nav-login {
  background-color: $blackAlpha2;
  z-index: 1;
}

.nav-not-login {
  background-color: $blackAlpha;
  padding: 10px;
}


nav {
  width: 100%;
  position: fixed;

  span {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    h1 {
      font-size: 24px;
      font-family: $Muli;
      color: white;
    }

    ul {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      order: 2;
      align-items: center;

      li {
        padding: 5px;
        color: white;
        font-size: 14px;

      }

      .upload-icon {
        color: white;
        font-size: 33px;

      }

      .userimage {

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }

      .signup-button, .logout-button {
        background-color: $lightest-gray;
        border-radius: 3px;
        margin-left: 20px;
        padding-left: 17px;
        padding-right: 17px;

        a {
          color: $black;
          font-weight: 700;
        }

        a:hover {
          color: $gray;
        }

        button {
          color: $black;
          font-weight: 700;
        }

        button:hover {
          color: $gray;
        }
      }

      .signup-button:active {
          background: $light-gray;
          box-shadow: inset 0px 0px 5px $lightest-gray;
      }
    }
  }
}
