$break-small: 600px;
$break-large: 900px;

.photos_index_div {
  background-color: $lightest-gray;

  h1 {
    padding-top: 60px;
    font-size: 22px;
    padding-left: 12%;
  }

  .photos_index_container {
    width: 80%;
    margin: 0 auto;
    line-height: 5;

     -webkit-column-count: 3;
     -webkit-column-gap: 4px;
     -moz-column-count: 3;
     -moz-column-gap: 4px;
     column-count: 3;
     column-gap: 4px;

    @media screen and (max-width: $break-large) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    @media screen and (max-width: $break-small) {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .photos_index {

      .image-item-wrap{
        margin: 15px;
        position: relative;

        li:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: transparent;
        }

        li:hover:before {
          background: linear-gradient(180deg, transparent 80%, black 100%);
        }

        img {
          width: 100%;
          height: auto;
        }


        p {
          position: absolute;
          bottom: 12px;
          left: 20px;
          visibility: hidden;
          color: white;
          font-size: 18px;
          font-weight: 600;
        }

        .photo-username {
          position: absolute;
          bottom: 0px;
          left: 20px;
          visibility: hidden;
          color: white;
          font-size: 14px;
          font-weight: 200;
        }
      }

      .image-item-wrap:hover p {
        visibility: visible;
      }

    }
  }
}
