.show-page-div-wrapper-full-page {
    background-color: $lightest-gray;
}

.hero-show-page {
  height: 500px;
  width: auto;
  background-color: $blackShow;
  padding-bottom: 60px;
  padding-top: 100px;

  a {
    color: white;
    font-size: 14px;
    margin-left: 20px;
  }

  img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

}

.main-show-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .photo_show_left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 50px;

    .photo_show_left-first-div {
      display: flex;

      .user-icon {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }

      p {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .username-photo-show {
          font-size: 22px;
          font-weight: 700;
        }

        .title-photo-show {
          font-size: 16px;
          margin-top: 10px;
          font-weight: 700;
        }

        .description-photo-show {
          font-size: 13px;
          margin-top: 10px;
        }

      }
    }
  } /*end of photo-show-left */

  .photo_show_right {
    flex: 1;
    margin-left: 50px;
  }
}
