.photo_show_right {
  position: relative;

  p {
    margin-left: 30px;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $gray2;
    margin: 1em 0;
    padding: 0;
  }

  ul {
      padding: 25px;
      width: 50%;

    .photo-album-item-wrap:after {
      display: block;
    }

    .photo-album-item-wrap {
      padding-bottom: 20px;

      a {

        li:hover {
            transition: background-color 0.5s ease;
            background-color: $light-gray;
        }

        li {
          display: flex;
          justify-content: space-between;
          padding: 5px;

          div {
            position: relative;
            margin: 1px;
            margin-top: 15px;

            img {
              width: 50px;
              height: 50px;
            }


          }

          div:before {
            content: "";
            right: 4px;
            left: 4px;
            top: -4px;
            height: 1px;
            background: $gray;
            position: absolute;
            -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
          }

          div:hover:before {
            top: -5px;
          }

          div:after {
            content: "";
            right: 2px;
            left: 2px;
            top: -2px;
            height: 1px;
            background: $gray;
            position: absolute;
            -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
          }

          div:hover:after {
            top: -3px;

          }

            p {
              margin-top: 12px;
              margin-right: 10px;
              font-size: 12px;
              color: $gray;

              span {
                font-size: 14px;
                font-weight: 700;
                color: $blue;
              }
            }

          } /* li */

        } /* a */

      } /*photo-album-item-wrap */

  } /* ul */

} /* photo_show_right */
