$break-small: 600px;
$break-large: 900px;

.photos_index_div {
  background-color: $lightest-gray;

  h1 {
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 22px;
    padding-left: 12%;
  }

  .photos_index_container {
    width: 80%;
    margin: 0 auto;
    line-height: 4;
    padding-bottom: 40px;
     column-count: 3;
     column-gap: 4px;

    @media screen and (max-width: $break-large) {
        column-count: 2;
    }

    @media screen and (max-width: $break-small) {
        column-count: 1;
    }

    .photos_index {

      .image-item-wrap{
        position: relative;
        margin: 0px 0px 15px 15px;

        li {
          width: 100%;
          height: 100%;
        }

        li:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: transparent;
        }

        li:hover:before {
          background: linear-gradient(180deg, transparent 60%, black 100%);
        }

        img {
          width: 100%;
          height: auto;
        }


        p {
          position: absolute;
          bottom: 12px;
          left: 20px;
          visibility: hidden;
          color: white;
          font-size: 18px;
          font-weight: 600;
        }

        .photo-username {
          position: absolute;
          bottom: 0px;
          left: 20px;
          visibility: hidden;
          color: white;
          font-size: 14px;
          font-weight: 200;

          .photo-username-title {
            padding-right: 30px;
          }
        }
      }

      .image-item-wrap:hover p {
        visibility: visible;
      }

    }
  }
}
