.profile-hero-img {
  background-image: url(http://res.cloudinary.com/dhyya9rw1/image/upload/v1523138103/jeremy-bishop-331838-unsplash.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;

  .user-info-profile {
    position: absolute;
    bottom: 30px;
    left: 50px;
    display: flex;

    div {

      img {
        width: 80px;
        height: 80px;
        padding: 10px;
        cursor: pointer;
        border-radius: 100%;
      }
    }

    img {
      width: 80px;
      height: 80px;
      padding: 10px;
      border-radius: 100%;
    }

    ul {
      margin-left: 15px;
      color: white;

      li:first-child {
        font-size: 33px;
        letter-spacing: 2px;
      }

      li:not(:first-child) {
        margin-top: 15px;

        span:not(:first-child) {
          padding-left: 20px;
        }
      }
      .user-info-email {
        display: flex;


        span {

        }
      }
    }
  }
}

.profile-navbar {
  background-color: white;
  width: 100%;
  border-bottom: solid 1px #e2e2e2;

  ul {
    display: flex;
    width: 80%;
    margin: 0 auto;

    li {
      padding: 10px;
    }
  }
}

.profile_index_container {
  padding-top: 80px;
}

.profile-image-item:hover:before {
  background: none;
}
