html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both; }

body, html {
  font-family: "Nunito Sans", sans-serif;
  height: 100%; }

#root {
  height: 100%; }
  #root .div-routes {
    height: 100%; }
    #root .div-routes .homePage-background-image {
      background-image: url(http://res.cloudinary.com/dhyya9rw1/image/upload/v1522873327/tree-3097419_1280.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%; }

.lange-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .lange-quote p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    color: white;
    text-shadow: 2px 2px black; }
  .lange-quote small {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black; }
  .lange-quote button {
    background-color: #f7f7f5;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5); }
  .lange-quote button:hover {
    color: #999; }

.nav-login {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1; }

.nav-not-login {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; }

nav {
  width: 100%;
  position: fixed; }
  nav span {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
    nav span h1 {
      font-size: 24px;
      font-family: "Muli", sans-serif;
      color: white; }
    nav span ul {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      order: 2;
      align-items: center; }
      nav span ul li {
        padding: 5px;
        color: white;
        font-size: 14px; }
      nav span ul .upload-icon {
        color: white;
        font-size: 33px; }
      nav span ul .userimage {
        border-radius: 50%; }
        nav span ul .userimage img {
          width: auto;
          height: 40px; }
      nav span ul .signup-button, nav span ul .logout-button {
        background-color: #f7f7f5;
        border-radius: 3px;
        margin-left: 20px;
        padding-left: 17px;
        padding-right: 17px; }
        nav span ul .signup-button a, nav span ul .logout-button a {
          color: black;
          font-weight: 700; }
        nav span ul .signup-button a:hover, nav span ul .logout-button a:hover {
          color: #999; }
        nav span ul .signup-button button, nav span ul .logout-button button {
          color: black;
          font-weight: 700; }
        nav span ul .signup-button button:hover, nav span ul .logout-button button:hover {
          color: #999; }
      nav span ul .signup-button:active {
        background: #e2e2e2;
        box-shadow: inset 0px 0px 5px #f7f7f5; }

.form-sign-container, .upload-photo-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border: solid 1px #e2e2e2;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 5px #e2e2e2;
  background-color: white; }
  .form-sign-container h2, .upload-photo-form h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px; }
  .form-sign-container form ul, .upload-photo-form form ul {
    margin-top: 40px; }
    .form-sign-container form ul li, .upload-photo-form form ul li {
      display: flex;
      justify-content: center; }
      .form-sign-container form ul li label, .upload-photo-form form ul li label {
        flex: 1;
        margin: 10px; }
      .form-sign-container form ul li input[type="text"], .form-sign-container form ul li input[type="password"], .upload-photo-form form ul li input[type="text"], .upload-photo-form form ul li input[type="password"] {
        margin: 10px;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        flex: 2; }
      .form-sign-container form ul li input[type="text"]:focus, .form-sign-container form ul li textarea:focus, .form-sign-container form ul li input[type="password"]:focus, .upload-photo-form form ul li input[type="text"]:focus, .upload-photo-form form ul li textarea:focus, .upload-photo-form form ul li input[type="password"]:focus {
        box-shadow: 0 0 10px #6288a5;
        transition-timing-function: ease-out;
        transition: 0.25s;
        transform: translateY(0); }
  .form-sign-container form p, .upload-photo-form form p {
    text-align: center;
    padding: 10px; }
    .form-sign-container form p button, .upload-photo-form form p button {
      margin-left: 5px;
      color: #326891; }
    .form-sign-container form p button:hover, .upload-photo-form form p button:hover {
      border-bottom: 1px solid #326891; }
  .form-sign-container form input[type="submit"], .upload-photo-form form input[type="submit"] {
    background-color: #f7f7f5;
    border-radius: 3px;
    border: solid 1px #e2e2e2;
    margin: 0 auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px; }
  .form-sign-container form input[type="submit"]:hover, .upload-photo-form form input[type="submit"]:hover {
    color: #999; }
  .form-sign-container form input[type="submit"]:active, .upload-photo-form form input[type="submit"]:active {
    background: #e2e2e2;
    box-shadow: inset 0px 0px 5px #f7f7f5; }
  .form-sign-container form .err-messages, .upload-photo-form form .err-messages {
    font-size: 12px;
    color: #FF4136;
    line-height: 0.7em; }

.photos_index_div {
  background-color: #f7f7f5; }
  .photos_index_div h1 {
    padding-top: 60px;
    font-size: 22px;
    padding-left: 12%; }
  .photos_index_div .photos_index_container {
    width: 80%;
    margin: 0 auto;
    line-height: 5;
    -webkit-column-count: 3;
    -webkit-column-gap: 4px;
    -moz-column-count: 3;
    -moz-column-gap: 4px;
    column-count: 3;
    column-gap: 4px; }
    @media screen and (max-width: 900px) {
      .photos_index_div .photos_index_container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2; } }
    @media screen and (max-width: 600px) {
      .photos_index_div .photos_index_container {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1; } }
    .photos_index_div .photos_index_container .photos_index .image-item-wrap {
      margin: 5px;
      position: relative; }
      .photos_index_div .photos_index_container .photos_index .image-item-wrap li:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent; }
      .photos_index_div .photos_index_container .photos_index .image-item-wrap li:hover:before {
        background: linear-gradient(180deg, transparent 80%, black 100%); }
      .photos_index_div .photos_index_container .photos_index .image-item-wrap img {
        width: 100%;
        height: auto; }
      .photos_index_div .photos_index_container .photos_index .image-item-wrap p {
        position: absolute;
        bottom: 12px;
        left: 20px;
        visibility: hidden;
        color: white;
        font-size: 18px;
        font-weight: 600; }
      .photos_index_div .photos_index_container .photos_index .image-item-wrap .photo-username {
        position: absolute;
        bottom: 0px;
        left: 20px;
        visibility: hidden;
        color: white;
        font-size: 14px;
        font-weight: 200; }
    .photos_index_div .photos_index_container .photos_index .image-item-wrap:hover p {
      visibility: visible; }

.hero-show-page {
  height: 500px;
  width: auto;
  background-color: #212124;
  padding-bottom: 60px;
  padding-top: 100px; }
  .hero-show-page a {
    color: white;
    font-size: 14px;
    margin-left: 20px; }
  .hero-show-page img {
    width: auto;
    height: 100%;
    margin: 0 auto; }

.main-show-page {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between; }
  .main-show-page .photo_show_left {
    display: flex;
    flex: 1; }
    .main-show-page .photo_show_left .user-icon {
      border-radius: 50%;
      width: 60px;
      height: 60px; }
    .main-show-page .photo_show_left p {
      display: flex;
      flex-direction: column;
      margin-left: 20px; }
      .main-show-page .photo_show_left p .username-photo-show {
        font-size: 22px;
        font-weight: 700; }
      .main-show-page .photo_show_left p .title-photo-show {
        font-size: 16px;
        margin-top: 10px;
        font-weight: 700; }
      .main-show-page .photo_show_left p .description-photo-show {
        font-size: 13px;
        margin-top: 10px; }
  .main-show-page .photo_show_right {
    flex: 1; }

.fa-cloude {
  cursor: pointer; }

.upload-photo-form button {
  position: absolute;
  right: 13px;
  top: 5px;
  color: white;
  z-index: 2; }
.upload-photo-form h2 {
  background-color: black;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px; }
.upload-photo-form form ul {
  margin-top: 40px; }
  .upload-photo-form form ul li textarea {
    margin: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    flex: 2; }
  .upload-photo-form form ul li .dropzone-mini-pic {
    width: 50px;
    height: 50px;
    margin-top: 10px; }
  .upload-photo-form form ul li p {
    text-align: center;
    margin-top: 30%;
    font-weight: 700; }
  .upload-photo-form form ul li .image-dropzone {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.2;
    z-index: -1; }
.upload-photo-form form input[type="submit"] {
  margin-top: 20px;
  color: white;
  background-color: black;
  width: 20%;
  text-align: center; }
.upload-photo-form form input[type="submit"]:hover {
  color: white;
  background-color: #383838; }

/*# sourceMappingURL=application.css.map */
