<!DOCTYPE html>
<html>
  <head>
    <title>Snapics</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Muli:900|Nunito+Sans:400,600,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
